<launch>
  <!-- Toggle GUI nodes when running in a headless container -->
  <arg name="use_turtlesim" default="true"/>
  <arg name="use_rqt" default="false"/>

  <group ns="sim">
    <node if="$(arg use_turtlesim)" pkg="turtlesim" name="turtlesim" type="turtlesim_node" output="screen"/>
    <node pkg="intern_pkg" name="turtlemove" type="turtle_move.py" output="screen"/>
    <node if="$(arg use_rqt)" pkg="rqt_graph" name="rqt_graph" type="rqt_graph"/>

    <!-- <node pkg="rostopic" name="rostopic" type="rostopic" args="echo turtle1/pose" output="screen" /> -->
  </group>
</launch>
